<mat-card>
    <mat-card-header class="header">
        <mat-card-title>Lista de contribuyentes</mat-card-title>
        <button mat-raised-button color="primary" [routerLink]="['/tax-receipt']">
          <mat-icon>arrow_forward</mat-icon> Ir a la lista de todos los comprobantes fiscales</button>
      </mat-card-header>
      <br />
      <app-search-input (filterValue)="applyFilter($event)"></app-search-input>
      <br />
      <app-taxpayer-table [taxpayers]="taxpayers" [filterValue]="filterValue"></app-taxpayer-table>
</mat-card>
