<mat-card>
    <mat-card-header class="header">
        <mat-card-title>Lista de comprobantes fiscales</mat-card-title>
        <button mat-raised-button color="primary" [routerLink]="['/taxpayers']">
          <mat-icon>arrow_back</mat-icon> Ir a la lista de todos los contribuyentes</button>
      </mat-card-header>
      <br />
      <app-search-input  (filterValue)="applyFilter($event)"></app-search-input>
      <br />
      <app-taxreceipt-table [taxReceipts]="taxReceipts" [filterValue]="filterValue" [showTaxPayerId]="true"></app-taxreceipt-table>
</mat-card>